div.user-review textarea
{
    resize: vertical;
}
div.user-review h3
{
    margin-top: 10px;
}
div.user-review button
{
    margin-top: 10px;
    float: right;
}
div.user-review
{
    overflow: hidden;
}

div.feedback-content
{
    margin: 15px 0px;
    font-size: 20px;
}
div.feedbacks
{
    margin-top: 20px;
}
ul.feedback-settings
{
  float:right;
  list-style-type: none;
  overflow: hidden;
}
ul.feedback-settings li
{
  display: inline-block;
  cursor: pointer;
}
ul.feedback-settings li:nth-child(2)
{
  margin-left: 20px;
}
p.no-comments
{
  font-size: 16px;
  font-style: italic;
}