div.user-review textarea
{
    resize: vertical;
}
div.user-review h3
{
    margin-top: 10px;
}
div.user-review button
{
    margin-top: 10px;
    float: right;
}
div.user-review
{
    overflow: hidden;
}

div.feedback-content
{
    margin: 15px 0px;
    font-size: 20px;
}
div.feedbacks
{
    margin-top: 20px;
}
ul.feedback-settings
{
  float:right;
  list-style-type: none;
  overflow: hidden;
}
ul.feedback-settings li
{
  display: inline-block;
  cursor: pointer;
}
ul.feedback-settings li:nth-child(2)
{
  margin-left: 20px;
}
p.no-comments
{
  font-size: 16px;
  font-style: italic;
}
ul.survey-actions{

}

ul.survey-actions li
{
    list-style: none;
    display: inline-block;
    margin-left: 10px;
}

ul.survey-actions li a
{
    color: #303F9F;
}

ul.survey-actions button.empty-button
{
    background: transparent;
    border: none;
    box-shadow: none;
    color: #303F9F;
}

ul.survey-actions button.empty-button:active,ul.survey-actions button.empty-button:focus
{
    outline: none;
}

div.survey-question-selector
{
  margin-bottom: 20px;
}
div.user-image img{
  width: 100%;
}
body
{
  background: #e9ebee;
}

div.user-profile{
  background: #fff;
  padding: 25px 0;
  overflow: hidden;
}
.navbar
{
  margin-bottom: 10px;
}
div.user-profile h2{
  margin-top: 0px;
}
.user-stats li
{
  list-style-type: none;
}
.hidden-feedback
{
  background: #f3f3f3;
}
.feedbacks 
{
  overflow: hidden;
}