
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.jumbovidtext {
    /*width: 50%;*/
    height: 100%;
    background: rgba(0,0,0,0.6);
    /*margin: 24vh 5vh;*/
    padding: 3em;
    /*margin-top: -3em;*/
    color: white;
    font-family: 'Montserrat', sans-serif;
      overflow-y: hidden;
    overflow-x: hidden;
}

.jumbotron {

    background-image: url("/img/banner.jpg");
    opacity: .5;
    background-repeat: no-repeat;

    height: 40em;
    position: relative;
    background-size: cover;
    overflow: hidden;
}